.jumbotron {
	background: url(/src/images/DLSUD-rotonda.jpg) no-repeat center center;
}

.push-spaces {
	padding-top: 1em;
}

.card-container {
	display: flex;
	flex-direction: row;
}

.card {
	width: 24rem;
}

.card-text {
	min-height: 8rem;
	max-height: 8rem;
	overflow: hidden;
}

@media (max-width: 768px) {
	.card-container {
		display: flex;
		flex-direction: row;
	}
	.card {
		min-width: 24rem;
	}
}

#ppt-container {
	margin: 3rem 0 3rem 0;
	width: inherit;
	display: flex;
	justify-content: center;
}
