body {
	background-color: #f8f8f8;
}

.jumbotron {
	width: 100%;
	background-color: green;
	color: white;
}

.jumbotron h1 {
	padding: 1rem 0 1rem 0;
}

.push-spaces {
	padding-top: 1em;
}

.card-container {
	display: flex;
	flex-direction: row;
}

.card {
	width: 24rem;
}

.card-text {
	min-height: 8rem;
	max-height: 8rem;
	overflow: hidden;
}

@media (max-width: 768px) {
	.card-container {
		display: flex;
		flex-direction: row;
	}
	.card {
		min-width: 24rem;
	}
}
