body {
  background-color: #f8f8f8;
  text-align: justify;
}

.jumbotron {
  width: 100%;
  background-color: #008000;
  color: white;
}

.jumbotron h1 {
  padding: 1rem 0 1rem 0;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.card {
  min-width: 24rem;
  max-width: 24rem;
}

.card-text {
  min-height: 8rem;
  max-height: 8rem;
  overflow: hidden;
}

.career-container {
  display: flex;
  width: inherit;
  flex-direction: row;
  gap: 3rem;
}

.career-container p {
  margin-bottom: 0.5rem;
}

.career-name {
  font-weight: 600;
  font-size: 1.2em;
}

.career-salary {
  font-weight: 600;
  font-size: 1.05em;
}

@media (max-width: 768px) {
  .card-container {
    display: flex;
    flex-direction: row;
  }
  .card {
    min-width: 20rem;
    max-width: 20rem;
  }
  .career-container {
    display: flex;
    width: inherit;
    flex-direction: column;
    gap: 0.5rem;
  }
}

#surveyId {
  border: none;
  max-width: 100%;
  max-height: 100vh;
}
